<% if params[:header].present? && params[:content].present? %>
  <%= turbo_stream.replace "message_form" do %>
    <%= form_with url: messages_path, method: :post, local: true, class: "border w-full max-w-md mx-auto p-8 mb-12", id: "message_form" do |form| %>
      <div class="mb-6">
        <%= form.label :header, "Title", class: "block text-gray-700 text-lg font-semibold mb-2" %>
        <%= form.text_field :header, data: { target: "message.header" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6">
        <%= form.label :content, "Content", class: "block text-gray-700 text-lg font-semibold mb-2" %>
        <%= form.text_area :content, data: { target: "message.content" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex items-center justify-between">
        <%= form.submit "Submit", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  <% end %>
  <%= turbo_stream.replace "alert-notice-msg" do %>
    <div data-controller="alert" data-alert-target="alert" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative my-2" role="alert">
      <strong class="font-bold">Success!</strong>
      <span class="block sm:inline">
        This message will be sent to all selected users within our organization
      </span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg data-action="click->alert#close" class="fill-current h-6 w-6 text-green-500 cursor-pointer" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.586 7.066 4.652A1 1 0 105.652 6.066L8.586 9l-2.934 2.934a1 1 0 101.414 1.414L10 10.414l2.934 2.934a1 1 0 001.414-1.414L11.414 9l2.934-2.934z"/>
        </svg>
      </span>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "alert-notice-msg" do %>
    <div data-controller="alert" data-alert-target="alert" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-2" role="alert">
      <strong class="font-bold">Error!</strong>
      <span class="block sm:inline">
        Please fill in the title and content before sending.
      </span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg data-action="click->alert#close" class="fill-current h-6 w-6 text-red-500 cursor-pointer" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <title>Close</title>
          <path d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.586 7.066 4.652A1 1 0 105.652 6.066L8.586 9l-2.934 2.934a1 1 0 101.414 1.414L10 10.414l2.934 2.934a1 1 0 001.414-1.414L11.414 9l2.934-2.934z"/>
        </svg>
      </span>
    </div>
  <% end %>
<% end %>
