<div class="container mx-auto p-6" data-controller="message">
    
  <div class="bg-white shadow-md rounded-lg px-12 pb-8 mb-12">
    <h2 class="text-3xl font-bold mb-12 border-b pb-2 text-center pt-6">Write your message here...</h2>
    
    <turbo-frame id="alert-notice-msg"></turbo-frame>
    <%= form_with url: messages_path, method: :post, local: true, class: "border w-full max-w-md mx-auto p-8 mb-12", id: "message_form" do |form| %>
      <div class="mb-6">
        <%= form.label :header, "Title", class: "block text-gray-700 text-lg font-semibold mb-2" %>
        <%= form.text_field :header, data: { target: "message.header" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6">
        <%= form.label :content, "Content", class: "block text-gray-700 text-lg font-semibold mb-2" %>
        <%= form.text_area :content, data: { target: "message.content" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-6">
        <span class="block text-gray-700 text-lg font-semibold mb-2">Send Via</span>
      <div class="flex items-center space-x-8">
        <div class="flex items-center">
          <%= form.check_box :send_via_email, { id: 'send_via_email', class: "mr-2" }, '1', '0'%>
          <%= form.label :send_via_email, 'Email', for: 'send_via_email', class: "text-gray-700 text-lg font-semibold" %>
        </div>
        <div class="flex items-center">
          <%= form.check_box :send_via_sms, { id: 'send_via_sms', class: "mr-2" }, '1', '0'%>
          <%= form.label :send_via_sms, 'SMS', for: 'send_via_sms', class: "text-gray-700 text-lg font-semibold" %>
        </div>
      </div>
    </div>
      <div class="flex items-center justify-between">
        <%= form.submit "Submit", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
  
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-12 relative">
      <h2 class="text-2xl mb-4">Template Messages <%= link_to '+ Create Template', new_message_template_path, data: { turbo_frame: "create-template" },
        class: 'absolute right-10 text-green-500 hover:underline' %></h2>
        <hr class="border-2 border-blue-500" />
      <div class="space-y-4" id="message_templates">
        <%= turbo_frame_tag 'form_errors' do %>
        <% end %>
        <div class="p-4 rounded">
          <turbo-frame id="create-template"></turbo-frame>
        </div>
        <% if @templates.any? %>
            <% @templates.each do |template| %>
                <%= render partial: "message_templates/template", locals: { template: template } %>
            <% end %>
        <% else %>
            <div id="no-records" class="text-gray-500 text-center">
                No records found.
            </div>
        <% end %>
      </div>
    </div>
  </div>
  