<%= turbo_frame_tag "forms_portation" do %>
  <div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-semibold mb-4 text-green-700">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="mb-4">
        <%= f.label :name, class: "block text-green-700 text-sm font-bold mb-2" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline focus:border-green-700" %>
      </div>
      
      <div class="mb-4">
        <%= f.label :email, class: "block text-green-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline focus:border-green-700" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-green-700 text-sm font-bold mb-2" %>
        <% if @minimum_password_length %>
          <em class="text-xs text-green-600">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline focus:border-green-700 mt-1" %>
      </div>

      <div class="mb-6">
        <%= f.label :password_confirmation, class: "block text-green-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline focus:border-green-700" %>
      </div>

      <div class="text-center">
        <%= f.submit "Sign up", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
