<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name), class: "inline-block bg-green-800 hover:bg-green-900 text-white font-bold py-2 px-4 rounded mb-2", data: { turbo_frame: 'forms_portation' } %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name), class: "inline-block bg-green-800 hover:bg-green-900 text-white font-bold py-2 px-4 rounded", data: { turbo_frame: 'forms_portation' } %><br />
<% end %>
