<% if template.errors.any? %>
<div data-controller="alert" data-alert-target="alert" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert" id="form_errors">
  <strong class="font-bold">Error!</strong>
  <span class="block sm:inline"><%= template.errors.full_messages.first rescue "SomeThing Went Wrong.!" %></span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg data-action="click->alert#close" class="fill-current h-6 w-6 text-red-500 cursor-pointer" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <title>Close</title>
      <path d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.586 7.066 4.652A1 1 0 105.652 6.066L8.586 9l-2.934 2.934a1 1 0 101.414 1.414L10 10.414l2.934 2.934a1 1 0 001.414-1.414L11.414 9l2.934-2.934z"/>
    </svg>
  </span>
</div>
<% end %>