
  <div class="border border-green-500  bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <%= form_with(model: template, local: false) do |form| %>
    <% if template.errors.any? %>
      <div id="error_explanation" class="mb-4">
        <h2 class="text-red-500"><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>
        <ul class="list-disc list-inside text-red-500">
          <% template.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="mb-4">
      <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :content, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-24" %>
    </div>
    <div>
      <%= form.submit "Save", class: "bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to "Cancel", "#", class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline",  onclick: "this.closest('[data-turbo-frame]').innerHTML = '';" %>
    </div>
  <% end %>
  </div>

