<%= turbo_frame_tag dom_id(template) do %>
  <div class="p-4 border rounded flex justify-between items-center mb-4">
    <div>
      <h3 class="font-bold"><%= template.title %></h3>
      <p><%= template.content %></p>
    </div>
    <div class="flex space-x-4">
      <%= link_to edit_message_template_path(template), class: "text-blue-500 hover:text-blue-700 px-4", data: { turbo_frame: dom_id(template) } do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to message_template_path(template), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-700 px-4" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>
