<% if @template.save %>
    <%= turbo_stream.update "create-template", "" %>
    <% if MessageTemplate.count == 1 %>
    <%= turbo_stream.update "message_templates", partial: "template", locals: { template: @template } %>
    <% else %>
    <%= turbo_stream.append "message_templates", partial: "template", locals: { template: @template } %>
    <% end %>
<% else %>
    <%= turbo_stream.replace "form_errors", partial: "message_templates/form_errors", locals: { template: @template } %>
<% end %>