<%= turbo_frame_tag "create-template" do %>
  <h1 class="text-3xl font-bold mb-4"><%= action_name.capitalize %> Template</h1>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <%= render partial: "form", locals: { template: @template } %>
  </div>
<% end %>