<h1><%= @template.title %></h1>
<p><%= @template.content %></p>
<%= link_to 'Edit', edit_template_path(@template), data: { turbo_frame: '_top' } %>
<%= link_to 'Back', templates_path, data: { turbo_frame: '_top' } %>
