<footer class="bg-gray-800 text-white mt-auto">
  <div class="container mx-auto px-4 py-8">
    <div class="flex justify-center">
      <div class="text-2xl font-logo text-green-500" 
           style="background: linear-gradient(180.92deg, hsl(180.92deg 77.51% 33.14% / 0%), hsl(180.92deg 77.51% 33.14% / 0%)); font-weight: bold;">
        <%= link_to 'YamDuut', root_path %>
      </div>
    </div>
    <div class="mt-4 text-center text-gray-500">
      &copy; 2024 YamDuut. All rights reserved.
    </div>
  </div>
</footer>
