<header class="bg-gray-800 text-white">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="text-4xl font-logo text-green-500" 
         style="background: linear-gradient(180.92deg, hsl(180.92deg 77.51% 33.14% / 0%), hsl(180.92deg 77.51% 33.14% / 0%)); font-weight: bold;">
      <%= link_to 'YamDuut', root_path %>
    </div>
    
    <!-- Logout Button -->
    <% if organization_signed_in? %>
    <div>
      <%= link_to 'Logout', destroy_organization_session_path, method: :delete, data: { turbo_method: :delete }, class: 'bg-white text-green-500 hover:text-white hover:bg-green-500 font-bold py-2 px-4 rounded' %>
    </div>
    <% end %>
  </div>
</header>

