<!-- app/views/shared/_sidenav.html.erb -->
<div class="w-64 bg-gray-800 text-white flex flex-col mt-2">
      <nav class="flex-1 px-2 py-4 space-y-1">
        <%= link_to users_path, class: "block px-4 py-2 rounded flex items-center space-x-2 #{'bg-gray-700' if current_page?(users_path)}" do %>
          <i class="fas fa-users"></i>
          <span>Manage Users</span>
        <% end %>
        <%= link_to messages_path, class: "block px-4 py-2 rounded flex items-center space-x-2 #{'bg-gray-700' if current_page?(messages_path)}" do %>
          <i class="fas fa-envelope"></i>
          <span>Send Message</span>
        <% end %>
      </nav>
      <% if organization_signed_in? %>
        <div class="px-2 py-4 flex flex-col items-center justify-center">
          <%= link_to 'Logout', destroy_organization_session_path, method: :delete, data: { turbo_method: :delete }, class: 'bg-white text-green-500 hover:text-white hover:bg-green-500 font-bold py-2 px-4 rounded' %>
        </div>
      <% end %>
    </div>
