<%= turbo_frame_tag "add_new_user" do %>
<div class="border w-1/2 mx-auto bg-white p-5 shadow-lg rounded-lg">
  <h2 class="text-center text-2xl font-bold mb-5"><%= heading %></h2>
  <hr class="mb-5">
  <%= turbo_frame_tag 'form_errors' do %>
  <% end %>
  <div class="mx-auto">
    <%= form_with(model: user, local: true, class: "space-y-6") do |form| %>
      <div class="border p-5 bg-white rounded-lg">
        <div class="mb-5">
          <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :name, placeholder: "Enter Name", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="mb-5">
          <%= form.label :number, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.text_field :number, placeholder: "Enter Phone Number", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="mb-5">
          <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.email_field :email, placeholder: "Enter Email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="flex justify-center">
          <%= form.submit button_name, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
