<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" id="<%= dom_id(user) %>">
    <td class="px-6 py-4">
      <%= check_box_tag "select_user_#{user.id}", user.id, user.is_message_sent, 
                        class: 'form-checkbox', 
                        data: { controller: "user", action: "change->user#toggle", user_id: user.id } %>
    </td>
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user.id %></th>
    <td class="px-6 py-4"><%= user.name %></td>
    <td class="px-6 py-4"><%= user.number %></td>
    <td class="px-6 py-4"><%= user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td class="px-6 py-4 flex space-x-2">
      <%= link_to edit_user_path(user), class: "text-blue-500 hover:text-blue-700", data: { turbo_frame: "add_new_user" } do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-700" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </td>
  </tr>
  