<%= turbo_stream.update "add_new_user", "" %>
<% if User.count == 1 %>
<%= turbo_stream.update "users", partial: "user", locals: { user: @user } %>
<% else %>
<%= turbo_stream.append "users", partial: "user", locals: { user: @user } %>
<% end %>
<%= turbo_stream.replace "form_errors", partial: "users/form_errors", locals: { user: @user } %>