<div class="flex justify-end mb-3">
  <%= link_to '+ New User', new_user_path, data: { turbo_frame: "add_new_user" },
    class: 'bg-white text-green-500 hover:text-white hover:bg-green-500 font-bold py-2 px-4 rounded' %>
    <%= link_to "Send messages", messages_path, class: "ml-8 bg-white text-green-500 hover:text-white hover:bg-green-500 font-bold py-2 px-4 rounded", data: { turbo: false } %><br />
</div>

<%= turbo_frame_tag "add_new_user" do %>
<% end %>

<div class="relative overflow-x-auto mt-3">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Select</th>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Number</th>
        <th scope="col" class="px-6 py-3">Created At</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody id="users">
      <% if @users.any? %>
        <% @users.each do |user| %>
          <%= render partial: "user", locals: { user: user } %>
        <% end %>
      <% else %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td colspan="6" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
            No records found
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
