<%# app/views/sms_templates/_short_codes.html.erb %>
<div class="bg-white shadow-md rounded p-6 mt-6" data-controller="copy">
  <h2 class="text-xl font-bold mb-4">Available Short Codes <%= controller.controller_name %></h2>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-6 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Name</th>
        <th class="py-2 px-6 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Expression</th>
        <th class="py-2 px-6 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @short_codes.each do |short_code| %>
        <tr class="border-b">
          <td class="py-2 px-6"><%= short_code.name %></td>
          <td class="py-2 px-6"><%= short_code.expression %></td>
          <td class="py-2 px-6">
            <button data-name="<%= short_code.name %>" data-action="click->copy#copy" class="copy-button bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded">Copy</button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Add Short Code Button -->
<div class="mt-4">
  <%= link_to 'Add New Short Code', new_short_code_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
</div>
