<%# app/views/sms_templates/index.html.erb %>
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-6">SMS Templates</h1>
  
    <div class="mb-4">
      <%= link_to 'New SMS Template', new_sms_template_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
  
    <div class="bg-white shadow-md rounded my-6">
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="py-2 px-6 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Name</th>
            <th class="py-2 px-6 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Content</th>
            <th class="py-2 px-6 bg-gray-200 text-gray-600 font-bold uppercase text-sm text-left">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @sms_templates.any? %>
            <% @sms_templates.each do |sms_template| %>
              <tr class="border-b">
                <td class="py-2 px-6"><%= sms_template.name %></td>
                <td class="py-2 px-6"><%= sms_template.content %></td>
                <td class="py-2 px-6">
                  <%= link_to sms_template, class: 'text-blue-500 hover:text-blue-700' do %>
                  <i class="fas fa-eye"></i>
                <% end %>
                <%= link_to edit_sms_template_path(sms_template), class: 'text-blue-500 hover:text-blue-700 ml-2' do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                <%= link_to sms_template, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-red-500 hover:text-red-700 ml-2' do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>                
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="py-4 px-6 text-center text-gray-600">No results found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
