<%# app/views/sms_templates/new.html.erb %>
<%# app/views/sms_templates/edit.html.erb %>
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-6"><%= action_name.capitalize %> SMS Template</h1>
  
   <%= render 'form'%>
  </div>
  