<%# app/views/sms_templates/show.html.erb %>
<div class="container mx-auto py-6">
  <h1 class="text-2xl font-bold mb-6">SMS Template Details</h1>

  <div class="bg-white shadow-md rounded p-6">
    <p><strong>Name:</strong> <%= @sms_template.name %></p>
    <p><strong>Content:</strong> <%= @sms_template.content %></p>
  </div>

  <div class="mt-6">
    <%= link_to 'Edit', edit_sms_template_path(@sms_template), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to 'Back', sms_templates_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>

  <div class="bg-white shadow-md rounded p-6 mt-6">
    <h2 class="text-xl font-bold mb-4">Sample Preview For Template Name</h2>
    <p><%= @sms_template.render_template(@sample_user).second %></p>
  </div>
  <div class="bg-white shadow-md rounded p-6 mt-6">
    <h2 class="text-xl font-bold mb-4">Sample Preview For Template Content </h2>
    <p><%= @sms_template.render_template(@sample_user).first %></p>
  </div>
</div>
