<%= turbo_frame_tag "forms_portation" do %>
  <div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-2xl font-semibold mb-4 text-green-700">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-green-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline focus:border-green-700" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-green-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border border-green-500 rounded w-full py-2 px-3 text-green-700 leading-tight focus:outline-none focus:shadow-outline focus:border-green-700" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4 flex items-center">
          <%= f.check_box :remember_me, class: "mr-2 leading-tight text-green-700 focus:ring-green-500" %>
          <%= f.label :remember_me, class: "text-sm text-green-700" %>
        </div>
      <% end %>

      <div class="text-center">
        <%= f.submit "Log in", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
