<%# app/views/short_codes/_form.html.erb %>
<%= form_with(model: @short_code, local: true) do |form| %>
  <div class="bg-white shadow-md rounded p-6">
    <% if @short_code.errors.any? %>
    <p class="text-red-500 text-xl italic mt-2"><%= @short_code.errors.full_messages.first rescue "SomeThing Went Wrong.!" %></p>
  <% end %>
    <div class="mb-4">
      <%= form.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="mb-4">
      <%= form.label :expression, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_area :expression, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
      <%= link_to 'Back', short_codes_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
  </div>
<% end %>
