<%# app/views/short_codes/new.html.erb %>
<%# app/views/short_codes/edit.html.erb %>
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-6"><%= action_name.capitalize %> Short Code</h1>
  
    <%= render 'form' %>
  </div>
  