<%# app/views/short_codes/show.html.erb %>
<div class="container mx-auto py-6">
    <h1 class="text-2xl font-bold mb-6">Short Code Details</h1>
  
    <div class="bg-white shadow-md rounded p-6">
      <p><strong>Name:</strong> <%= @short_code.name %></p>
      <p><strong>Expression:</strong> <%= @short_code.expression %></p>
    </div>
  
    <div class="mt-6">
      <%= link_to 'Edit', edit_short_code_path(@short_code), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
      <%= link_to 'Back', short_codes_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
  </div>
  